#general {
    position: relative;
    border: 1px solid;
    width: 1600px;
    height: 3780px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    position: absolute;
    top: 25px;
    left: 230px;
}

#meniu {
    position: absolute;
    top: 40px;
    left: 950px;
}

#lore {
    position: absolute;
    top: 50px;
    left: 1050px;
}