* {
    box-sizing: border-box;
}

body {
    width: 100%;
}

/* Dan */

.dan-header {
    background:#000;
    height:100px;
    color: #FFF;
    padding: 0 10%;
    display:flex;
    align-items:center;
}

.dan-header .row {
    flex:1;
}

.dan-header .row>div:last-child {
    text-align:right;
}


@media all and (max-width:700px) {
    
    .dan-header .row>div {
        text-align:center;
    }
}

/* Dan up */

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: white;
    margin-right: 1em;
    
}

.subheader {
    background:rgb(255, 136, 0);
    height: 700px;
    padding: 0 10%;
    display:flex;
    align-items:center;
    position: relative;
}

.subheader .row {
    background: url(Layers/m6.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 85% 85%;
    flex: 1;
    height: 700px;
}

#head1 {
    position: absolute;
    top: 4.1em;
    font-size: clamp(1.7rem, 2.5vw, 3rem);
    
}

#fur {
    color: white;
    background-color: black;
    padding-bottom: 0.1em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-size: clamp(1.7rem, 3.2vw, 4rem);
    
}

#tau {
     background-color: black;
    font-size: clamp(1.7rem, 3.2vw, 4rem);
    color:rgb(255, 136, 0);
    padding-bottom: 0.1em;
    padding-right: 0.4em;
    margin-left: -0.4em;
}

#demat {
    background-color: white;
    color:black;
    font-size: clamp(1.3rem, 2.2vw, 3rem);
    padding-top: -0.2em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;
    top: -0.3em;
}

.furnizor {
    position: relative;
    z-index: 1;
}

@media all and (max-width:700px) {
    
    .furnizor>div {
        text-align:center;
        }
    #head1 {
        top: 2.5em;
    } 
 
   
}

@media all and (max-width:1000px) {
    
    #head1 {
        top: 2em;
    } 
  #fundalgri {
    top: 9.5em;
  }
  
}

#telefon {
    position: absolute;
    bottom: 1em;
    width: 70%;
    left: 1.1em;
}

#bla {
    color: white;
    font-size: clamp(1rem, 0.9vw, 4rem);
    
}

#numar {
    font-size: 2em;
    color: white;
    font-size: clamp(1rem, 2vw, 3rem);
}

#fundalgri {
    position: absolute;
    background: rgb(48, 46, 46);
    opacity: 0.9;
    height: 200px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.pozanene {
    position: relative;
    z-index: 1;
    background: url(Layers/dude.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-position: 88%;
    
}


.pozele {
    background:black;
    height: 350px;
    padding: 0 10%;
    display: flex;
    align-items: center;    
}

@media all and (max-width:700px) {
    .pozele {
       height: 900px;      
    }
   .pozele>div>div {
    height: 300px;  
   }
 }

   .pozele .row {
    flex: 1;
}

@media all and (min-width:700px) {
    .pozele>div>div {
        height: 300px;  
       }
    .pozele {
        height: auto;      
     }
}




.calitate {
    position: absolute;
    bottom: 0;
    left: 1.05%;
    background: rgb(48, 46, 46);
    color: white;
    font-size: 1.5em;
    width: 98%;
    text-align: center;   
}

.poza1:hover .calitate {
    background: rgb(255, 136, 0);
}

.poza2:hover .calitate {
    background: rgb(255, 136, 0);
}

.poza3:hover .calitate {
    background: rgb(255, 136, 0);
}

.calitate>p {
   padding: 0;
   margin: 0;
   margin-bottom: 5px;
   cursor: pointer;
}

.poza1 {
    position: relative;
    background: url(3poze/nenepix.png);
    background-repeat: no-repeat;
    background-size: 98% 82%;
    background-position: bottom;
    z-index: 1;
    cursor: pointer;
} 

.poza2 {
    position: relative;
    background: url(3poze/bormasina.png);
    background-repeat: no-repeat;
    background-size: 98% 82%;
    background-position: bottom;
    z-index: 1;
    cursor: pointer;
} 

.poza3 {
    position: relative;
    background: url(3poze/stivuitor.png);
    background-repeat: no-repeat;
    background-size: 98% 82%;
    background-position: bottom;
    z-index: 1;
    cursor: pointer;
} 

.cuvinte {
    background: black;
    height: 350px;
    padding: 0 10%;
    display: flex;
    align-items: center;
}

.cuvinte .row {
     flex: 1;
}

.textcuvinte {
    background: black;
    z-index: 1;
    color: white;
}

#misiune {
    color: rgb(255, 136, 0);
}

#cateva h1 {
    margin: 0;
    margin-top: 1em;
}

@media all and (max-width:1100px) {
    .cuvinte {
    height: 500px;
    }
}

@media all and (max-width:800px) {
    
    .cuvinte {
     height: 700px;
     }
 }

.catalog {
    background: linear-gradient(rgba(255, 136, 0, 0.5), rgba(255, 136, 0,0.5)), url(Pozacatalog/Catalog.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    padding: 0 10%;
    display: flex;
    align-items: center;
}

.catalog .row {
    height: 350px;
    flex: 1;
}

.butoncatalog {
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

#catatext {
    background-color: black;
    color: white;
    font-size: 2em;
    padding: 20px 35px;
}


#catabuton {
     font-size: 1em;
    border: none;
    font-weight: bold;
    padding: 10px 30px;
    margin-left: 35%;
    
}

#cataorange {
    color: rgb(255, 136, 0);
    margin-left: 10px;
}

.noutati {
    background: black;
    height: 175px;
    padding: 0 10%;
    display: flex;
    align-items: center;
}

.noutati .row {
    flex: 1;
    height: 175px;
}

.textnoutati {
    z-index: 1;
    position: relative;
}

#noualb {
    position: relative;
    color: white;
    font-size: 2em;
    line-height: 0.8;
    top: 40%;
    font-weight: bold;
    
}

#nouport {
    color: rgb(255, 136, 0);
    font-size: 0.5em;
    font-weight: normal;
}

#noub {
    font-weight: bold;
    margin-left: 8px;
}

.nou1 {
    background: black;
    height: 600px;
    padding: 0 10%;
    display: flex;
    align-items: center;
    
}

.nou1 .row {
    flex: 1;
    height: 600px;
    
}

.pozanou1 {
    background: url(2poze/Pozanou.png);
    background-size: 98% 82%;
    background-repeat: no-repeat;
    z-index: 1;
    
}

.pozanou2 {
    background: url(2poze/Pozanou.png);
    background-size: 98% 82%;
    background-repeat: no-repeat;
    z-index: 1;
}

@media all and (max-width:700px) {
    .nou1 .row {
        height: 800px;
    }
    .nou1 {
        height: 800px;
    }
}

.articol {
    background: black;
    height: 500px;
    padding: 0 10%;
    display: flex;
    align-items: center;
}

.articol .row {
    flex: 1;
    height: 500px;
}

.art1 {
     z-index: 1;
}

.art2 {
   z-index: 1;
}

.titluart {
    color: white;
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
}

.contart {
    font-size: 0.5em;
    font-weight: normal;
    line-height: 0.5;
    
}

.dataart {
    font-size: 0.7em;
    font-weight: normal;
    color: rgb(255, 136, 0);
}

.butart {
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 0.5em;
    font-weight: bold;
    padding: 20px 20px;
}

@media all and (max-width:700px) {
    .articol {
         height: 1400px;
       
    }
      .articol .row { 
        height: 1400px;
    }
}

@media all and (min-width:700px) and (max-width:1000px) {
    .articol {
         height: 1090px;
       
    }
      .articol .row { 
        height: 1090px;
    }
}

@media all and (min-width:1000px) and (max-width:1470px) {
    .articol {
         height: 700px;
       
    }
      .articol .row { 
        height: 700px;
    }
}

.parteneri {
    background: black;
    height: 100px;
    padding: 0 10%;
    display: flex;
    align-items: center;
}

.parteneri .row {
    flex: 1;
    height: 100px;
}

.textparteneri {
    z-index: 1;
}

#partalb {
    font-weight: bold;
    color: white;
    font-size: 2em;
    line-height: 0.8;
    font-weight: normal;
    margin-top: 20px;;
}

#livram {
    font-size: 0.5em;
    color: rgb(255, 136, 0);
}

@media all and (max-width:700px) {
    .parteneri {
         height: 140px;
       
    }
      .parteneri .row { 
        height: 140px;
    }
}

.materiale {
    background: black;
    padding: 0 6.8%;
    height: 175px;
    display: flex;
    align-items: center;
}

.materiale .row {
    flex: 3;
    height: 175px;
}

.mat1 {
    background: url(6maxbau/logo2.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    margin-bottom: 7px;
}

@media all and (max-width:700px) {
    .materiale {
        height: 310px;
    }
    .materiale .row {
        height: 310px;
    }
}

.maps {
    background: black;
    padding: 0 10%;
    height: 300px;
    display: flex;
    align-items: center;
}

.maps .row {
    flex: 1;
    height: 300px;
}

.map1 {
    background: black;
    z-index: 1;
}

.map2 {
    background: black;
    z-index: 1;
}

.map3 {
    background: black;
    z-index: 1;
}

#mapsmat {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

#mapslore {
    font-weight: normal;
    font-size: 0.7em;
}

#mapstel {
    color: rgb(255, 136, 0);
    font-size: 1.7em;
    font-weight: bold;
}

#harta {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

#sitemap {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 5%;
}

#sitemap>ul {
    font-size: 0.7em;
    font-weight: normal;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#sitemap>ul>li {
    display: block;
}

#locatie {
    background: url(maps/harta.png);
    height: 175px;
}

@media all and (max-width:700px) {
    .maps {   
        height: 800px;
    }
    .maps .row {
        height: 800px;
    }
}

.footer {
    background: black;
    color: white;
    padding: 0 10%;
    display: flex;
    align-items: center;
}

.footer .row {
    flex: 1;
    height: 100px;
}

.picior {
    z-index: 1;
}

#footext {
    color: rgb(255, 136, 0);
}

@media all and (max-width:700px) {
    
    .footer .row>div {
        text-align:center;
    }
}














